ol{
  font-size: small;
}

.scroll-container {
  height: 300px; /* Adjust height as needed */
  width: 300px;
  overflow-y: auto;
}

header,p{ /*Added style */
  font-weight:bold;
  margin: 10px;
  font-size: 3rem;
  background: -webkit-linear-gradient(#29254F, #1A1446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}