body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#queryName, #q, #user, #password { /*Styled*/
  border-radius: 10px;
  margin: 5px;
  padding: 5px;

}

/* header p{
  font-size: large;
} */

ol{
  padding-left:20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left{
  float:left;
  border:1px solid black;
}

.right{
  float:right;
  border:1px solid black;
}

.parent{
  display:flex;
  flex-direction: row;
}

.box{
  border:1px solid black;
  flex:1;
  padding: 5px;
  max-width: 300px;
  font-size: small;
}

.box span{
  padding: 3px;
  text-align: center;
}

.title{
  font-weight: bold;
  display: block;
  background-color: #1A1446; /*Styled*/
  color: white;
}

.selected{
  font-weight: bold;
}

.hidden{
  display:none;
}
.visible{
  display:block;
}

.moreHidden{
  display:none;
}
.moreVisible{
  display:block;
}

button, #submit { /*Styled, changed QueryForm submit button ID*/
  background-color: #78E1E1;
  border-radius: 5px;
  padding: 3px;
}

.box2 { /*New style, added box2 class to NewsReader.js */
  background-color: #FFD000;
  border: none;
  margin: 5px;
  padding: 15px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.25);
}

.box3 { /*New style, added box3 class to LoginForm.js */
  background-color: #1A1446;
  margin: 5px;
  padding: 15px;
  color: white;

}

#submit { /* New style*/
  margin-top: 5px;
}

a:hover { /* New style */
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}